* {
   padding: 0;
   margin: 0;
}
.watch {
   width: 200px;
   height: 400px;
   border: 2px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   background-color: rgb(168, 198, 231);
   margin-left: 50px;
}
img {
   width: 150px;
   margin-top: 20px;
   border: 1px solid black;
   border-radius: 10px;
}
h3 {
   color: brown;
   text-align: center;
}
p {
   margin: 10px 0;
}
button {
   background-color: rgb(216, 133, 133);
   width: 120px;
   height: 30px;
   border-radius: 10px;
   margin-top: 20px;
}
.formField {
   border: 2px solid black ;
   width: 370px;
   margin-left: 20px;
   border-radius: 10px;
   padding-left: 20px;
   padding-top: 20px;
   background-color: rgb(234, 234, 184);
}
body {
   display: flex;
}
div.total {
   border: 2px solid black;
   width: 300px;
   border-radius: 10px;
   margin-left: 20px;
   padding: 20px;
   background-color: rgb(150, 214, 193);
}
.total p {
   color: rgb(113, 21, 21);
}