img {
   width: 50px;
   
}
div.smileys {
   border: 2px solid black;
   display: flex;
}
div.smiley {
   margin: 20px;
   border: 2px solid black;
   width: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: end;
}